---
layout: default
---
<h2>{{ page.event_name }}</h2>
<h3><a href="{{ page.event_url }}">{{ page.event_url }}</a></h3>
<h4>In {{ page.event_location }}
{% if page.host_name %}
    with
    {% if page.host_url %}
        <a href="{{ page.host_url }}">
    {% endif %}
    {{ page.host_name }}
    {% if page.host_url %}
        </a>
    {% endif %}
{% endif %}
</h4>
{% if page.sponsor_name %}
    Sponsored by
    {% if page.sponsor_url %}
        <a href="{{ page.sponsor_url }}">
    {% endif %}
    {{ page.sponsor_name }}.
    {% if page.sponsor_url %}
        </a>
    {% endif %}
    <br/>
{% endif %}
{% if page.siglex_endorsed %}
Endorsed by <a href="https://siglex.org/">SIGLEX</a>.
{% endif %}

<div style="margin-top: 2em;">
{{ content }}
</div>